.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-border{
    box-sizing: border-box;
}
.flex-col{
    flex-direction: column;
}
.flex-1{
    flex:1;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.block{
    display: block;
}
